<f:asset.css identifier="datatables" href="EXT:wp_mailqueue/Resources/Public/Css/datatables.min.css"/>
<h1>Mail Log</h1>
<div style="margin-bottom: 40px;">
    <table id="maillog-table" class="table">
        <thead>
        <tr>
            <th>Absender</th>
            <th>Empfänger</th>
            <th>CC</th>
            <th>BCC</th>
            <th>Betreff</th>
            <th>Anhänge</th>
            <th>Erstellt am</th>
            <th>Versendet am</th>
            <th></th>
        </tr>
        </thead>
    </table>
</div>

